/* body {
    color: rgb(14, 8, 8);
} */

body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: rgb(14, 8, 8);
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    /* Height of the footer */
    background: #6cf;
}