{%load static%}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ecommerce PFA</title>
    {% include 'base/css.html' %}
    {% comment %} <link href='css/main.css' rel="stylesheet"> {% endcomment %}
    <style>

     
      {% comment %} login-container {
        height: 100%;
      }
       {% endcomment %}
      html{
        height: 100%;
      }
      body {
        
        margin: 0;
        
        
        min-height: 100%;
        font-family: "Helvetica Neue", Arial, sans-serif;
        display:flex;
        flex-direction: column;
      }
      
      footer {
        
        height: 5em;
        margin-top: auto;
        
        text-align: center;

      }
    </style>

    
  </head>
  <body>
    {% include 'base/navbar.html' with brand_name='PFA eCommerce' %}
    <div class='container'>
        {% block content %} {% endblock %}
        <br>
        <br>
    </div>

    <footer class="py-4 bg-dark " id="footer">
          
      <p class="m-0 text-center text-white">Ce site est creer par ER-GAIBI Yasin et HARCHI Oussama dans le cadre d'un projet de fin d'annee</p>
          
    </footer>
        
    
    

    
      
    
    
    
    {% include 'base/js.html' %}
    {% block javascript %}

    {% endblock %}

    
      
  </body>
  
  
  
  
</html>
