{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}



<title>Contact</title>

{% block content %}
  <div class='text-center'>
    <h1>{{ title }}</h1>
    <h1>Hello world!!</h1>

  </div>
  
    {% comment %} <div class='row'>
        <div class='col'>
            
            <div class='col-md-6 col-12 mx-auto'>
                <p>{{ content }}</p>
                <form class='contact-form' method='POST' action='{% url "contact" %}'>{% csrf_token %}
                    {{form.as_p}}
                    <div class="g-recaptcha" data-sitekey="6LfGyvoUAAAAADR7sFnAmKSVJSo29otVHmr9MTP6"></div>
                    <button type='submit' class='btn btn-default'>Submit</button>
                </form>

                
            </div>
        </div>
    </div> {% endcomment %}


    <div class='row justify-content-center' >
        <div class='col-6'>
            <div class='card'>
                <div class='card-body'>
                    <p>{{ content }}</p>
                    <form class='contact-form' method='POST' action='{% url "contact" %}'>{% csrf_token %}
                        {{form|crispy}}
                        <div class="g-recaptcha" data-sitekey="6LfGyvoUAAAAADR7sFnAmKSVJSo29otVHmr9MTP6"></div>
                        <button type='submit' class='btn btn-default'>Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

  <script src="https://www.google.com/recaptcha/api.js" async defer></script>

{% endblock content %}

