
{% extends "base.html" %}
{%load static%}

<title>Home page</title>





{% block content%}
  <div class='text-center'>
    <h1>{{ title }}</h1>
    <h1>Welcome to our store</h1>
  </div>
  
    <div class='row'>
        <div class='col'>
            <img  src="{%static 'img/photo.jpg'%}" class='img-fluid'/>
            <p>{{ content }}</p>
        </div>
    </div>
    {%if request.user.is_authenticated%}
    <div class='row'>
        <div class='col'>
            <h1>Premium</h1>
            <p>{{ Premium }}</p>
        </div>
    </div>
     {%endif%}

        <!-- Footer -->
  <footer class="bg3 p-t-75 p-b-32">
  
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-lg-3 p-b-50">
          <h4 class="stext-301 cl0 p-b-30">
            SE SITE EST CREE PAR 
          </h4>

          <ul>
            <li class="p-b-10">
              <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                HARCHI OUSSAMA
              </a>
            </li>

            <li class="p-b-10">
              <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                YASIN ER-GAYBI
              </a>
            </li>
          </ul>
        </div>

        <div class="col-sm-6 col-lg-3 p-b-50">
          <h4 class="stext-301 cl0 p-b-30">
            pour nous contacter:
          </h4>

          <p class="stext-107 cl7 size-201">
            
            tel : 06-45-80-96-52
          </p>
          
                    <p class="stext-107 cl7 size-201">
            
            fix : 05-87-89-96-52
          </p>
        

  </footer>

{% endblock %}



<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href='{%static "css/main.css"%}'>




    
  </head>
  <body>
  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>