{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class='login-container'>
        <div class='row justify-content-center' >
            <div class='col-6'>
                <div class='card'>
                    <div class='card-body'>
                        <div class="d-flex justify-content-center">
                            <h3 id="form-title">LOGIN</h3>
                        </div>

                        <form method='POST'>{% csrf_token %}
                            {{form|crispy}}
                            <button type='submit' class='btn btn-primary'>Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}